
/*React Blue: #61dafb;*/
/*React Blue: 3rd shade - #4daec8*/
/*React Blue: 5th shade - #3a8296*/
/*React Blue: 7th tint - #bff0fd*/
/*React Blue: 8th tint - #cff3fd*/

/*http://www.december.com/html/spec/color0.html
grey 31: #4F4F4F;
grey 64: #A3A3A3
grey 77: #C4C4C4;
grey 88: #E0E0E0*/

/*http://www.colourlovers.com/palette/482774/dream_magnet*/
/*grey: #343838*/
/*dark turquoise: #005F6B
medium turquoise: #008C9E
turquoise: #00B4CC
bright turquoise: #00DFFC*/

body{
  width: 1280px;
  margin: 0 auto;
}

.container-fluid {
  padding: 0px;
}

#nav-section,
#footer-section {
  background-color: #61dafb;
}

#home-section h1,
#home-section p,
#whatNext-section {
  text-align: center;
  color: #4F4F4F;
}

/*#home-section,
#application-section,
#whatNext-section,
#footer-section {
  width: 100%;
}*/


/*Navbar Section*/


#nav-section {
  height: 60px;
}
#nav-title {
  color: white;
  font-size: 3em;
  font-weight: bolder;
  float: left;
  text-align: center;
  width: 100%;
}

/*Home Section*/



#home-section {
  width: 1280px;
  margin-top: -55px;
  height: 650px;
  background-color: #E0E0E0;
}

#home-section > h1 {
  font-size: 2em;
  margin-top: 70px;
  margin-bottom: 20px;
  padding-top: 80px;
}

#home-section > p {
  font-size: 1.5em;
  line-height: 1em;
}
#getStarted-btn {
  background-color: #61dafb;
  border-color: #61dafb;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 30px;
}

#instruction-section {
  width: 1280px;
  margin: auto;
}

#instruction-section h3 {
  text-align: center;
}
.instructions{
  width: 330px;
  height: 330px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 75px 0 35px;
  background-color: white;
}

.instructions:last-child {
  margin-right: 0px;
}
.instructions img {
  width: 300px;
  margin: 10px;
}
#selectOptions {
  margin-top: 20px;
}
.instructions p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.instructions hr {
  width: 150px;
  border: 1px solid white;
}


/*Application Section*/
#application-section {
  /*display: flex;*/
  height: 700px;
  padding-top: 25px;
}

#overReact-container,
#options-section {
  /*flex: none;*/
  border-radius: 5px;
}

#overReact-container {
  margin: 50px 35px 50px 35px;
  width: 850px;
  height: 550px;
  position: relative;
  border: 5px solid #61dafb;
  float: left;
}

#overReact-container form {
  float: right;
}

.deleteBtn {
  float: right;
  color: #a0a0a0;
  background-color: white;
  border: none;
}
.deleteBtn:hover {
  color: red;
}

.box {
  display: inline-block;
  border: 2px solid #A3A3A3;
  color: #A3A3A3;
  padding-left: 5px;
  position: absolute;
  background-color: white;
}


#options-section {
  width: 300px;
  height: 550px;
  margin: 50px 30px 50px 10px;
  background-color: #C4C4C4;
  border: 5px solid #C4C4C4;
  float: right;
  /*width: 300px;
  height: 500px;
  margin-left: 50px;
  margin-top: 80px;
  background-color: #D3D3D3;
  border: 5px solid #D3D3D3;
}*/
}

#options-section h3 {
  display: inline-block;
  margin: 10px 10px 12px 10px;
  color: white;
}
#submitButton {
  margin-top: 4px;
  margin-left: 65px;
/*  margin-bottom: 10px;
  margin-left: 30px;*/
  background-color: #FC913A;
  color: white;
}
#options-section p {
  margin-left: 8px;
  font-weight: bold;
}
#options-section label, input {
  font-weight: normal;
  margin: -3px 0;
}

#projectName{
  margin-top: 5px;
}

#basic-options, #basic-options input{
  margin-bottom: 0px;
}


.form-group {
  background-color: white;
  padding: 8px 8px 0px 8px;
  border-radius: 5px;
}

hr {
  margin-bottom: 8px;
}
.btn-group {
  border: 1px solid red;
  display: block;
}
.radio-btns {
  margin-left: 8px;
}
#template-buttons {
  text-align: center;
  padding: 10px 0px 20px 0px;
}
#template-buttons button {
  margin: 5px;
}

/*What Next Section*/
#whatNext-section {
  padding: 35px;
  background-color: #BABABA;
  height: 600px;
  text-align: center;
}
#whatNext-section p {
  font-size: 1.5em;
}
.well {
  width: 600px;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  text-align: justify;
}

/*Footer Section*/
#footer-section {
  height: 60px;
}
