
/*React Blue: #61dafb;*/

body{
  width: 1280px;
  margin: 0 auto;
}

.container-fluid {
  padding: 0px;
}

#nav-section,
#footer-section {
  background-color: #61dafb;
}

#home-section h1,
#home-section p,
#whatNext-section {
  text-align: center;
  color: #4F4F4F;
}

/*#home-section,
#application-section,
#whatNext-section,
#footer-section {
  width: 100%;
}*/


/*Navbar Section*/


#nav-section {
  height: 60px;
}
#nav-title {
  color: white;
  font-size: 3em;
  font-weight: bolder;
  float: left;
  display: inline-block;
  text-align: center;
  width: 100%;
}
#nav-section sup {
  font-size: 30%;
  top: -1.9em;
}

/*Home Section*/



#home-section {
  width: 1280px;
  margin-top: -55px;
  height: 650px;
  background-color: #E0E0E0;
}

#home-section > h1 {
  font-size: 2em;
  margin-top: 70px;
  padding-top: 80px;
}

#home-section > p {
  font-size: 1.5em;
}


#getStarted-btn {
  background-color: #FC913A;
  border-color: #FC913A;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 30px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
#instruction-section {
  width: 1280px;
  margin: auto;
}

#instruction-section h3 {
  text-align: center;
}
.instructions{
  width: 330px;
  height: 330px;
  display: inline-block;
  border-radius: 20px;
  vertical-align: middle;
  margin: 0 75px 0 35px;
  background-color: white;
}

.instructions:last-child {
  margin-right: 0px;
}
.instructions img {
  width: 300px;
  margin: 10px;
}
#selectOptions {
  margin-top: 20px;
}
.instructions p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.instructions hr {
  width: 150px;
  border: 1px solid white;
}

/*Application Section*/
#application-section {
  /*display: flex;*/
  height: 700px;
  padding-top: 50px;
}
#overReact-sectionNotContainer{
  position: relative;
  top: 30px;
  float: left;
  padding: 0;
  margin: 0;
}
#gui-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #61dafb;
  width: 850px;
  height: 50px;
  margin-left: 35px;
  margin-top: 20px;
}
#gui-header h3 {
  display: inline-block;
  color: white;
  margin-top: 10px;
}
#dup-warning {
  display: none;
  margin-left: 100px;
  color: red;
  font-weight: bold;
}
#gui-header form{
  display: inline-block;
  float: right;
  width: 300px;
  margin-top: 11px;
  margin-right: 11px;
}

#Apptext {
  position: relative;
  margin-left: 40px;
  margin-bottom: 0;
  color: #A3A3A3;
}

#overReact-container {
  margin: -3px 35px 50px 35px;
  width: 850px;
  height: 500px;
  position: relative;
  border: 5px solid #61dafb;
  border-top-width: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  float: left;
  padding-left: 7px;
  color: #A3A3A3;
}

#overReact-container form {
  float: right;
}
.ui-state-hover {
  background-color: transparent;
  background-image: none;
}
.drop-background-on {
  background-color: #e5e5e5   !important;
}

.deleteBtn {
  position: absolute;
  top: 0;
  right: 0;
  color: #a0a0a0;
  background-color: white;
  border: none;
}
.deleteBtn:hover {
  color: red;
}

.box {
  display: inline-block;
  border: 2px solid #A3A3A3;
  color: #A3A3A3;
  padding-left: 5px;
  position: absolute;
  background-color: white;
  cursor: move;
}
.box > span {
  font-weight: bold;
  color: #4daec8;
  cursor: auto;
}
.parentName {
  display: inline-block;
  padding-left: 10px;
  color: red;
}


#options-section {
  width: 300px;
  height: 550px;
  margin: 50px 30px 50px 10px;
  background-color: #C4C4C4;
  border: 5px solid #C4C4C4;
  border-radius: 5px;
  float: right;
  /*width: 300px;
  height: 500px;
  margin-left: 50px;
  margin-top: 80px;
  background-color: #D3D3D3;
  border: 5px solid #D3D3D3;
}*/
}

#options-section h3 {
  display: inline-block;
  margin: 10px 10px 12px 10px;
  color: white;
}
#submitButton {
  margin-top: 4px;
  margin-left: 65px;
  background-color: #FC913A;
  color: white;
}
#options-section p {
  margin-left: 8px;
  font-weight: bold;
}
#options-section label, input {
  font-weight: normal;
  margin: -3px 0;
}

#projectName{
  margin-top: 5px;
}

#basic-options, #basic-options input{
  margin-bottom: 0px;
}


.form-group {
  background-color: white;
  padding: 8px 8px 0px 8px;
  border-radius: 5px;
}

hr {
  margin-bottom: 8px;
}
.btn-group {
  border: 1px solid red;
  display: block;
}
.radio-btns {
  margin-left: 8px;
}
#template-buttons {
  text-align: center;
  padding: 10px 0px 20px 0px;
}
#template-buttons button {
  margin: 5px;
}

/*What Next Section*/
#whatNext-section {
  padding: 35px;
  background-color: #BABABA;
  height: 600px;
  text-align: center;
}
#whatNext-section p {
  font-size: 1.5em;
}
.well {
  width: 600px;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  text-align: justify;
}
.terminal-text {
  font-family: courier;
}
/*Footer Section*/

#footer-section {
  height: 60px;
  text-align: left      !important;
  font-size: 1.1em;
  color: white;
}
#footer-section ul,
#footer-section li,
#footer-section div,
#footer-section p,
#footer-section a {
  display: inline-block;
}
#footer-section div {
  margin-top: 10px;
}

#footer-section li:first-child {
  margin-right: 30px;
}

#footer-section p {
  margin-left: 290px;
  margin-right: 360px;
}

#footer-section a:last-child {
  text-align: right;
}
