/*form {
  float: right;
  display: inline-block;
  position:relative;
}*/

#container {
	width: 600px;
	height: 600px;
	border: 1px solid blue;
}

.box {
	border: 1px solid red;
}

#submitButton {
	background-color: red;
	width: 300px;
}
