form {
  float: right;
}

#container {
	width: 600px;
	height: 600px;
	border: 1px solid blue;
}
.deleteBtn {
	float: right;
	color: #a0a0a0;
	background-color: white;
	border: none;
}
.deleteBtn:hover {
	color: red;
}

.box {
	border: 1px solid red;
}

#submitButton {
	background-color: red;
	width: 300px;
}
