node_modules
bower_components
build
dist
npm-debug.log
config
zips

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/*
40install_node.sh
50npm.sh
env.vars


.DS_Store
ZZZ-sessionController.js
ZZZ-sessionModel.js
40install_node.sh
50npm.sh
env.vars

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
