"/opt/elasticbeanstalk/hooks/configdeploy/pre/40install_node.sh" :
  mode: "000775"
  owner: root
  group: users
  source: https://raw.github.com/kopurando/better-faster-elastic-beanstalk/master/40install_node.sh

"/opt/elasticbeanstalk/hooks/appdeploy/pre/40install_node.sh" :
  mode: "000775"
  owner: root
  group: users
  source: https://raw.github.com/kopurando/better-faster-elastic-beanstalk/master/40install_node.sh
