files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/40install_node.sh" :
    mode: "000775"
    owner: root
    group: users
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-797147549887/40install_node.sh
    authentication: S3Access
Resources:
 AWSEBAutoScalingGroup:
   Metadata:
     AWS::CloudFormation::Authentication:
       S3Access:
         type: S3
         roleName: aws-elasticbeanstalk-ec2-role
         buckets: elasticbeanstalk-us-west-2-797147549887
