files:
  "/opt/elasticbeanstalk/env.vars" :
    mode: "000775"
    owner: root
    group: users
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-797147549887/env.vars

  "/opt/elasticbeanstalk/hooks/configdeploy/pre/50npm.sh" :
    mode: "000666"
    owner: root
    group: users
    content: |
       #no need to run npm install during configdeploy

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh" :
    mode: "000775"
    owner: root
    group: users
    source: https://raw.github.com/kopurando/better-faster-elastic-beanstalk/master/50npm.sh

  "/opt/elasticbeanstalk/hooks/configdeploy/pre/40install_node.sh" :
    mode: "000775"
    owner: root
    group: users
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-797147549887/40install_node.sh

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/40install_node.sh" :
    mode: "000775"
    owner: root
    group: users
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-797147549887/40install_node.sh
