<html>
  <head>
    <title><%- projectName %></title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  	<h1><%- projectName %><h1>
    <div id="container"></div>
  </body>
  <script src="build/bundle.js"></script>
</html>
